@model Parcial3_BedoyaSamuel.Models.AddServiceViewModel

@{
    ViewData["Title"] = "Servicio";
}

<h1>Solicitar servicio</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddService" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Services" />

            <div class="form-group">
                <label asp-for="NumberPlate" class="control-label"></label>
                <input asp-for="NumberPlate" class="form-control" />
                <span asp-validation-for="NumberPlate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" asp-items="Model.Services" class="form-control"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Completar solicitud" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>
